@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #f5f5f5;
  font-family: "DM Sans", sans-serif;
}

p {
  font-size: 18px;
  letter-spacing: -2px;
}

a {
  color: #fff;
  opacity: 100%;
  text-decoration-color: #FFF;
  transition: all 0.3s;
  letter-spacing: normal;

  &:hover {
    color: hsl(39, 100%, 71%);
    text-decoration-color: hsl(39, 100%, 71%);
  }
}

.grid {
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

em {
  color: hsl(256, 67%, 59%);
}

span {
  color: hsl(39, 100%, 71%);
}